[submodule "submodules/snippets"]
	path = submodules/snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "submodules/org-mode"]
	path = submodules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "pdf-tools"]
	path = submodules/pdf-tools
	url = https://github.com/politza/pdf-tools.git
