/anaconda-mode/

/elpa/

/_notes/

/auto-save-list/

/ek-el-files/ek-private.el
/ek-el-files/ek-registers.el
/ek-el-files/ek-org-capture-templates.el

/data/backups

/data/recentf
/data/bookmarks
/data/smex-items
/data/scratch.el


*~
*#
*.last
*.dat

